.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.formWrapper {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: min(50%, 800px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 12px;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.button {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #f0f0f0;
}

.button_submit {
  background-color: #3eaf7c;
  border-color: #3eaf7c;
  color: #fff;
  transition: opacity 0.2s ease-in-out;
}

.button_submit:hover {
  background-color: #3eaf7c;
  opacity: 0.8;
}

.error {
  color: red;
  text-align: center;
  min-height: 24px;
}

.fieldError {
  color: red;
  font-size: 0.875rem;
}

.divider {
  display: grid;
	grid-template-columns: 1fr max-content 1fr;
	align-items: center;
	gap: 0.5rem;
  margin-bottom: 1rem;
}

.divider::before, .divider::after {
  content: '';
	height: 1px;
	background-color: #CBD5E1;
}

.providers {
  display: flex;
  column-gap: 12px;
  justify-content: center;
}

.providerButton {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;

  &:hover {
    border-color: #3eaf7c;
  }
}

.providerImage {
  width: 100%;
  height: 100%;
}

.signin {
  text-align: center;
  margin-top: 1rem;
}

.signin a {
  color: #0070f3;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline;
}


.signup {
  text-align: center;
  margin-top: 1rem;
}

.signup a {
  color: #0070f3;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}
