@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@import 'variables';

* {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: $dark-blue;
  margin-bottom: $footer-height;
}

a {
  text-decoration: none;
  color: $primary-text-color;

  &:hover {
    color: $primary-text-color;
    text-decoration: underline;
    text-decoration-color: $green-accent;
    text-underline-offset: 4px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card {
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 16px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.card.marked {
  border: 4px solid #42b983;
}

.card.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
