$dark-blue: #2c3e50;
$lighter-blue: #007CC7;
$lightest-blue: #4DA8DA;
$dark-blue-shadow: #203647;
$light-blue-shadow: #EEFBFB;
$primary-text-color: #444;
$light-shadow: rgba(0, 0, 0, 0.3);
$white: #fff;
$green-accent: #3eaf7c;

$navbar-height: 75px;
$footer-height: 60px;
$app-padding-bottom: 20px;
