.backButton {
  position: fixed;
  left: 25%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-right: 12px;
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
}

.backButton:hover {
  background-color: #ccc;
}

@media screen and (max-width: 1100px) {
  .backButton {
    display: none;
  }
}
