.modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  top: 40%;
  padding: 2rem;
  background: #fff;
  z-index: 1000;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -40%);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 80%;
}

.modal_size_small {
  width: 30%;
}

.modal_size_medium {
  width: 60%;
}

.modal_size_large {
  width: 90%;
}

.modal__title {
  margin: 0 2rem 0 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.modal__content {
  font-size: 18px;
}

.modal__content button {
  min-width: 100px;
  display: block;
  margin: 16px auto 0 auto;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 100;
}

@media screen and (max-width: 1100px) {
  .modal_size_small {
    width: 80%;
  }

  .modal_size_medium {
    width: 90%;
  }

  .modal_size_large {
    width: 90%;
  }
}
