.trainingPage {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.buttonsGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 1rem;
}

.buttonsGroup button {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  font-size: 18px;
  font-family: inherit;
}

.btn {
  color: #42b983;
  position: relative;
  place-content: center;
  place-items: center;
  width: fit-content;
  border-radius: 99px;
  letter-spacing: 0.05em;
  border: 1px solid #42b983;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  font-weight: 700;
  outline: none;
  background: #fff;
  transition: all 0.22s;
}

.btn.primary {
  background: #42b983;
  color: #fff;
}

.btn.secondary {
  background: #ccc;
  border-color: #ccc;
  color: #fff;
}

.btn.btn-block {
  display: block;
  margin: 12px 0;
}

.btn.btn-centered {
  margin: 12px auto;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.explanationText p {
  margin-bottom: 1rem;
  line-height: 1.6;
}
