.card {
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 16px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
}

.trainingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.trainingHeader__title {
  font-size: 2rem;
  font-weight: 700;
}

.btn {
  color: #42b983;
  position: relative;
  place-content: center;
  place-items: center;
  width: fit-content;
  border-radius: 99px;
  letter-spacing: 0.05em;
  border: 1px solid #42b983;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  font-weight: 700;
  outline: none;
  background: #fff;
  transition: all 0.22s;
}

.btn.primary {
  background: #42b983;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 676px) {
  .trainingHeader {
    flex-direction: column;
    word-break: break-word;
    gap: 12px;
  }

  .trainingHeader__title {
    font-size: 1.3rem;
  }
}
