.card {
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 16px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
  min-width: 100%;
  width: 0;
  color: #444;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 2px 2px #3eaf7c inset;
}

.trainingCard {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.trainingCard__center {
  margin-left: 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.trainingCard__image {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 650px) {
  .trainingCard {
    max-width: 350px;
    margin: 0 auto;
  }
}
