.card {
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 16px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
}

.uoeCard {
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.uoeCard__question {
  font-size: 18px;
  min-width: 100%;
  width: 0;
}

.uoeCard__input {
  font-family: inherit;
  outline: none;
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  color: #2c3e50;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 1rem;
  resize: none;
}

.uoeCard__input.invalid {
  border-color: #e53935;
}

.uoeCard__input.valid {
  border-color: #42b983;
}
