.writingTask {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  color: #333;
}

.writingTaskSection {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.writingTaskSection:last-child {
  border-bottom: none;
}

.writingTaskTitle {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}

.writingTaskHint {
  margin-bottom: 20px;
  font-style: italic;
  text-align: center;
  color: #555;
}

.answerItem {
  display: flex;
  align-items: center;
  column-gap: 12px;
  row-gap: 8px;
  margin-bottom: 16px;
  flex-wrap: wrap;

  div {
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin-bottom: 16px;
  }
}

.clichesList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 8px;
}

.linkerText {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-bottom: 0;
}

.answerSelect {
  width: fit-content;
}

.letterAnswers {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-width: 70%;
  margin: 16px auto 0 auto;
  gap: 4px;
}

.writingTaskFullReplies {
  margin-bottom: 20px;
}

.writingTaskFullRepliesQuestion {
  margin-bottom: 8px;
  font-weight: 700;
}

.writingTaskFullRepliesHint {
  margin-top: 8px;
}

.valid {
  border-color: #28a745 !important;

  p& {
    color: #28a745;
    margin-left: 20px;
    font-style: italic;
  }
}

.invalid {
  border-color: #dc3545 !important;

  p& {
    color: #dc3545;
    margin-left: 20px;
    font-style: italic;
  }
}
