.container {
  max-width: 900px;
  margin: 16px auto 32px auto;
  padding: 0 16px;
  position: relative;
}

.title {
  font-size: 28px;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff;
}

.content {
  background-color: #fff;
  padding: 24px 24px 12px 24px;
  border-radius: 24px;
  font-size: 1.1rem;
  line-height: 1.6;
}

.content h2 {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.content h5 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

.content p {
  margin-bottom: 1rem;
}

.content ul {
  list-style-type: disc;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.content ol {
  list-style-type: auto;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.content code {
  background-color: #f4f4f4;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-family: monospace;
}

.content table {
  width: 100%;
  border: 1px solid;
  text-align: center;
  margin: 28px 0;
}

.content table th,
.content table td {
  padding: 8px 4px;
  border: 1px solid #000;
}

.content :global(.tense-table) {
  border: none;
}

.content :global(.tense-table td) {
  border: none;
}

.content :global(.tense-table th) {
  border: none;
}

.content :global(.affirmative) {
  color: limegreen;
}

.content :global(.negative) {
  color: red;
}

.content :global(.question) {
  color: gray;
}

.trainingButton {
  display: block;
  width: 100%;
  text-align: center;
  margin: 20px auto 0;
  padding: 12px 24px;
  background-color: #42b983;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition: opacity 0.2s ease;
}

.trainingButton:hover {
  opacity: 0.8;
}
